In [3]:
import pandas as pd

In [4]:
filename = "n_3_ns_2000_lambda_1000_eta_2.5e-05_matrix-type_rank-two_iter_5000_alpha_1.txt"
df = pd.read_csv(filename, header=None, names=["theta", "beta", "r", "err"])
valid_df = df[df["err"] != -1]

In [55]:
valid_df.sort_values(by="err", ascending=True).head(20)#.groupby("theta").count()

           theta    beta  r       err
157     0.100000   100.0  6  0.001450
101     0.001000   100.0  6  0.001454
165     0.100000  1000.0  6  0.001457
43      0.000001   100.0  4  0.001458
99      0.001000   100.0  4  0.001458
158     0.100000   100.0  7  0.001458
217     1.000000  1000.0  2  0.001459
273    10.000000  1000.0  2  0.001459
329   100.000000  1000.0  2  0.001459
385  1000.000000  1000.0  2  0.001459
265    10.000000   100.0  2  0.001460
321   100.000000   100.0  2  0.001460
377  1000.000000   100.0  2  0.001460
209     1.000000   100.0  2  0.001460
167     0.100000  1000.0  8  0.001461
37      0.000001    10.0  6  0.001461
166     0.100000  1000.0  7  0.001461
161     0.100000  1000.0  2  0.001461
163     0.100000  1000.0  4  0.001461
49      0.000001  1000.0  2  0.001461

For n=3 and rank-2, the combination 0.1, 100, 6 seems to be the best.

In [40]:
filename4 = "n_4_ns_2000_lambda_1000_eta_2.5e-05_matrix-type_rank-two_iter_5000_alpha_1.txt"
df4 = pd.read_csv(filename4, header=None, names=["theta", "beta", "r", "err"])
valid_df4 = df4[(df4["err"] != -1) & (df4["err"] != 0)]

In [52]:
valid_df4.sort_values(by="err", ascending=True).head(20)#.groupby("theta").count()

       theta  beta  r       err
44  1.000000  1000  2  0.001588
40  1.000000   100  2  0.001589
18  0.001000   100  4  0.001593
32  0.100000  1000  2  0.001595
20  0.001000  1000  2  0.001595
8   0.000001  1000  2  0.001595
28  0.100000   100  2  0.001596
34  0.100000  1000  4  0.001596
16  0.001000   100  2  0.001596
4   0.000001   100  2  0.001596
35  0.100000  1000  5  0.001596
21  0.001000  1000  3  0.001597
33  0.100000  1000  3  0.001598
30  0.100000   100  4  0.001598
9   0.000001  1000  3  0.001598
31  0.100000   100  5  0.001598
7   0.000001   100  5  0.001599
19  0.001000   100  5  0.001599
14  0.001000    10  4  0.001601
36  1.000000    10  2  0.001602

For n=4 and rank-2, the combination 1, 1000, 2 seems to be the best.